.header {
  height: 100px;
  background-color: rgba(247, 247, 247, 0.5);
  -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.header-show {
  display: none;
}

.header-container {
  position: relative;
  width: $table;
  height: 100%;
  margin: 0 auto;
  @include flex-between;
}

.logo {
  &__img {
    height: 70px;
    border-radius: 4px;
  }
}

.admin__heading {
  position: absolute;
  left: calc((#{$table} - 395px) / 2);
  color: $color-purple-dark;
  font-size: 28px;
}

.heading {
  position: absolute !important;
  display: inline-block;
  width: 1px;
  height: 1px;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  font-size: 0;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.dropdown {
  position: absolute;
  top: 30px;
  right: 35px;
  z-index: 10;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  @include flex-center;

  &:hover {
    filter: opacity(0.4);
  }
}

.dropdown__lines,
.dropdown__lines::before,
.dropdown__lines::after {
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: $color-purple-dark;
  border-radius: 20%;
}

.dropdown__lines::before {
  top: -15px;
  left: 0;
  content: '';
}

.dropdown__lines::after {
  top: 15px;
  left: 0;
  content: '';
}

.dropdown-active.dropdown__lines {
  background-color: transparent;
}

.dropdown-active.dropdown__lines::before {
  top: 0;
  right: 0;
  width: 40px;
  background-color: $color-purple;
  transform: rotate(45deg);
}

.dropdown-active.dropdown__lines::after {
  top: 0;
  right: 0;
  width: 40px;
  background-color: $color-purple;
  transform: rotate(-45deg);
}

.header-nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 450px;
  height: 100vh;
  margin-right: 0;
  text-align: center;
  background-color: $color-turquoise;
  transform: translateX(450px);
  transition: transform 0.3s ease-in;
}

.header-nav-show {
  transform: translateX(0);
}

.menu-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
  margin-top: 120px;

  &__item {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__link {
    display: inline-block;
    color: $color-purple-dark;
    font-weight: bold;
    text-decoration: none;
  }

  .output {
    padding: 15px 30px;
    color: $color-purple-dark;
    font-weight: bold;
    background-color: $color-turquoise;
    border: 1px solid $color-purple-dark;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  }

  .output:hover {
    color: $color-white;
    background: -webkit-linear-gradient(0deg, rgb(234, 59, 240), rgb(98, 215, 221));
    background: -moz-linear-gradient(0deg, rgb(234, 59, 240), rgb(98, 215, 221));
    background: linear-gradient(0deg, rgb(234, 59, 240), rgb(98, 215, 221));
  }
}
