.login-page {
  margin: 0 auto;
  padding-top: calc((100vh - 450px) / 2);
  @include flex-center;
}

.login-popup {
  width: 450px;
  height: 450px;
  background-color: $color-white;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);

  &__heading {
    @include flex-center;

    height: 80px;
    color: $color-gray;
    text-transform: uppercase;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  }
}
