//COLORS
$color-white: #fff;
$color-black: #000;
$color-gray: #929292;
$color-gray-light: #f7f7f7;
$color-purple: #ea3bf0;
$color-valid: #b9f5b6;
$color-invalid-text: #f00;
$color-invalid: rgb(252, 176, 176);
$color-purple-dark: #573b7a;
$color-purple-light: #8b55cc;
$color-purple-light-tr: rgba(139, 85, 204, 0.6);
$color-turquoise: #62d7dd;

//MIXINS
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

$table: 1800px;
