@import 'basic';
@import 'variables';
@import 'header';
@import 'main';
@import 'sidebar';
@import 'page-login';
@import 'form';
@import 'form-search';
@import 'form-devices-add';
@import 'devices-page';
@import 'dashboard';
@import 'devices';
@import 'not-found';
@import 'table-flexbox';

#root {
  position: relative;
  height: 100%;
}

#root::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url('../img/background-slider.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  content: '';
}

.hidden {
  display: none;
}
